body {
  background-color: #282c34;
}



.container-1{
	display: flex;
	
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	
}

.header{
  margin: auto;
  margin-bottom: 50px;
  padding: -20px 1px 1px 1px;
  line-height: 1;
  border-radius: 5px; 
  width: 540px;
  font-family: 'Lobster', cursive;
  font-size: 124px;
  text-align: center;
}

.subheader{
	width: 225px;
	margin: auto;
	margin-top: 20px;
	padding-bottom: 5px;
	font-family:'lobster', cursive;
	text-align:center;
	color:  #61dafb;
}
/*
.colorbtm1{
	width:225px;
	border-bottom: 
		3px solid rgb(251,46,1);
	align-items: right;
}
.colorbtm2{
	position: relative;
	left: 5px;
	width:225px;
	border-bottom: 
		3px solid rgb(111,203,159);
	align-items: right;
}
.colorbtm3{
	position: relative;
	left: 10px;
	width:225px;
	border-bottom: 
		3px solid rgb(255,226,138);
	align-items: right;
}
.colorbtm4{
	position: relative;
	left: 15px;
	width:225px;
	border-bottom: 
		3px solid rgb(255,254,179);
	align-items: right;
}

*/
.shadowHead {
  margin: auto;
  border: 6px solid black;
  
  border-radius: 10%;
  padding: 1px, 30px, -4px, 20px;
  color:   #61dafb;
  text-shadow: 
   
    5px 9px  black,
    7px 12px darkred;
}


.img{
  width: 100%;
  height: 183px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 15px 50px;
  box-shadow: 
  5px 5px 5px #61dafb,
  15px 15px 15px  #61dafb,
  30px 30px 30px  darkred;

}

.box{
	height: 183px;
	margin: 50px;
  	width: 300px;
  	border-radius: 15px 50px;
  	perspective: 800px;
}

.card {
	display: flex;
	position: relative;
	height: 100%;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
	transform-origin: right center;
	transition: transform 1s;
}

.card:hover {
	transform: translateX(-100%) rotateY(180deg);
}

.card > div {
	backface-visibility: hidden;
}

.flashcard1{
	position: initial;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAhFBMVEVK1f8YvO7///8At+0Aue0Atu1N1/830v/l9vxD1P9GxPCh3fbS7/v0+/4dvu76/v/g9PyF1fTt+f3E6vmq4ffC6fm04/h80vNjzPLb9f87zPk1we+P2PWd3Pa45vhxz/OR4/9/3/+n6P+z6/+B3/9i2f+c5f8hxvbO8v+v6v9Vx/Bv3P91gkaLAAAMgElEQVR4nO2bCZuaOhSGgRwElEXFBcet7cy0U/r//9/NyR4Ex3G9g/me595W0JC8nJwN6nlOTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5OTk5Ot1QSJe9eFCUtJ6LBe9Jy4nkV/ZgGQVB8/GxQSaK3D3oiGP+MHjSz/58iRgQV/zOpRG9TeeKvo8UV/WWcCkblI5HGlXgrdiSL8f8TtxO5KIsFkHA4QyqFMK7ojX0arUMCKf0LeIMHT/P/oOQXdUqhTwX+DgH9RlrRK/51BoAnSBYEe3C2RbHQ3bZkTCiVCjfja8Td2HQoDsMoCHYAL862Ison94XAH6PjQoBBCvKoX1HjAx/+PD2tiHIJFRaflOiqcAsaB3Pq5wn++fS0KBuiufjhggXBjXkM6AH2OU/acNHUtU19dHINWH6IuUIZ+m2wfL+FQPRb5B2msvjj13vveDW2oU9YBhFMwDgmtyFyO3Dz0eqAlEpy3+6bzGJhdtMbhLBMI1piHKT/1Qatmq5bfmy6+eRHJyuqlXdH42JlW/bjhjcooruu1lyGbA9iTMwtgKVml9u//zgGKyjuFxOSN37Jze3uDy52qUhAxo2IOqFYeTLMs2bmtjTdfBQfhRVkd0vPojG/4vR21UbyF6sd6dyxsvEBAA1sIWlhvbM0YfkvxhQ/gRXM7pWeRTLMQFsYuoqSnzTjJAiIENjg4pabzWaJ6dYeCD0MfkhnsTZZmW5ew8qU7OAIf2409YYidUF6N290gxIcvp7M0hYTKeJythyu6V+sVALdvJqi+hmtuaWg3ulBJpDfpQo3Yd2mNqPRdhp8rhQAbFwSgIY1NE+TSv12Dq3p2dVlwvKvb85JNPjVsKe03C0Ws8ViV6aNExu/gYsD6IDlE2VbY/tOJzLhTzoIJslnRUDSdj7RsMC8m9dREr2pfHI83+5pNhVsQ5AK6Wqz9X5bKhppRUxeHEAXLF+ZFstnJa0k+vm6mhZBMV29NtvY/Hzyg30BvzH/PTj8ShK9//6IqV/M4vKHykGj95//5AWrqhrCVc054Z13ZEDThZpASH16bLomKLCchpBmWbGgGlekSasT1loenxLl5ZLkr+n8i9emdUX/Gmlb3MwxozdrL3y8s/PJOGhoD9dzXMk7v2a5hHCGfgWq5nphH2AUJHQek9Cf8G2ZmpsRAXTCyuXxFUgvFx1m+xaLJGnJcMfWtAcHVF7pCMnvw9/BYbVxpvi0i62P5opJFYRT7PAxb+MPfWYMhPJJQ7QQBEPWvGqsraqxG1Ytj6ssjrV/mio1rWSQtXwhKHQOnPxrOb+KWLLYFJ/fFWhF7E6MRIQjdL2TSSDCSI33bsyQIKd6pmod8Fn7prLzUxVMbVgwk8erY6yw1ahQtLKiNKSBtLJivN8ODvLN39FU+orYRadrVRtTUDGd6AZEIY3ClB0onHGml0tJ4nqsBJW0WxY0XBY9slULKdLdXHueUSR8v2keVl5by3K0HWZQR8kvOwEqUjXJS918NOUBXa2MXYBFLbVGjsRaLjOuzGo4m7DWYGiixtmLbw8VvQoLAzJUoXgYqVkJfDSYQT5Rhjbjaa1Rs6eTqtqoAXbkZfACofzI6w415cvcPDMsywzY9pK2JISuhlvDxoSDNHPjs4ZFEzShudHi2gnSROZtK7mQUGZiK8KTEGFNqfgCgBy6ZHmA3oQFDd70dCh3Af0F3akgTzfywcvcPD79WlgjYuRiXQbQu4N1sDB9KKyv4qL3xhFyvJCWrJRhGaOFMrINeRLCDWeu0hfQMNBAdKjM5WOnjbgIsFDTAavZVPoirL+NlgtjUhJ76Qwerie2W8yl3YI4Cmu6V50LabLmbyXAGfAsDA1ypK8GMq9NeQEjR9Vd3JCbK/MYeTcsu6n0RVg0b5ha6Se7Q0OBQghtn6VadviDwHblx2CVQ3UVIhyS/XBE/HYMvDqJ3vdmGhfKgMph7cUns6iHRZal4vlm1zZkevkcS4fwHpiPuvhKUmLcTI5In1ALKC2H/9k2jOWDWl8cmEOu5UtzY19iYesP44IiuQqfHJZEZ3kQbCzJmRyDdb6bR6dl0qp4qMYMgczlqgjPKfCECsMAvM91Miz12+rol/R6Bn+IXy+3i3JsJF0clowQyzYYn8G6oA3BfGk8lBkQJTBaCOcknu7MmLunpDaldnCknspTJ8PieYaRSnTCouuhBetHS2bKxlAXalQKJ8K6oA3BI0855DYcoAEEwnPSBGc0yaXhZ2ElIhiQOlUY22DlovkXknxvVHCcg85IWyQjpM7622BJirnfrs9gnZ+f8oInWE2oc9hgqsOWI+YsEh1MqfYQsndoiL/hVPY2q/YMHsK5WinbtPjMo1sjbn3rjnJHwJJJfReKz2Gd3W1OPJG2pJMx8wPozOdWrKKRfBX6ZISdP5Fm7podwK5yR9kBT2mVZaXbUVNbUZqrNoXQdGalDlewrAvcfFTr2z/ar0NsE1Sg0mfmZnIyXOp2+mJ9OI+u2lCZEjMblV/OQjiQGEin/UU5WtY+sfMsdaHaur4ubE6AdYGbH7z4G8O54BsL2WRZVVVdVfslssqM8jSdNNvwx2DpDg3fY/LjirSMwaRqx5jVjnjITkplNLTeLID9RPaMToF1gZsfJDnJJ6c8sIiXfiuqblgqReShVH1s/HptvjHHL6USJ5WG2nmWmfYxNycK+9NgXdCGEMX6cpR2IZuWo02z5DkFlvLHvKOo7GJhLBXW1LAzbhmqdjAej9sZvErVdIsIuB/bwldgXdCGiGqsfWhMhHW1xBWlqBIdyG5f5TRBBnJgEKfAmpor1VZihFOoDWNTNFXzTFtjahunerEgLM3zp8K6oA2B7eu53Ap4p1bogrHJPA7l4VUjaz8JljwuXlYiultFuF8nMkJOLJe0Nd8l4OJdfN0+Gufq+RPT3IaVd3gMrXO7zVFpNqzQy+4In6d+03RhLOFUWLrZw3eNNq2g2E32+8lONUM5LIWC+XcgQ10ayBaxOhDM6QijqTWA3vgxDVIHKU6D1nltCHz3xLB87D9MWLmvew2YRMy/DGtlL0VXnQfid0VXj+lmv9xar8iBnlyLCmjMBNVVQUqd5eajzErz2JKQlWlKtd2FtqF0wVJs1CY/eIrFNWtbK1MmD4kb1/HIQ5wF+27cws1ju8ZqufAlWS+VrhttGeuiyrM0jss0VLfsofFGgGApR143z2S5dEqqkm8bQeVdtXX4OKsz3XzzBVxAV7BqvoBbdMKS/YRV41aCdCEjnWMf7qNieRAcpUpQfk6ZOTkoyAvtLojx6o56CfaIzug2N8bl6UwxNJduvK3cQkt4l3XzhFh7bIwE/sx6xhVvzMAFuWE4Y3xTQOy7wvzOwhygGJkDEKNrof3wEX3VceHrWWafVu4e68HzEcvCIjkusl1+4CNgvZsWcSOMAtSjMs6KYrraTXLS+BEZzsZZkY3LzZqfgs24yOa5PcJ+ltIRsjidVY0kAdbbdFoU2Wp0OJ1WfREW+izjgQua+bTG26/3ByYU8RGrBqO3a5/AlLbl68BeeGvNhtg541Tb2GKAtrF9OXb3bC19FVasTRaYC47pDUJa6ikWuqXy1Mt/L30RVvKqAhL/R2E8eMXMwvhxbGxtHCxPPJ7GpDkUXWPuwHjSgn1nCDHePXhRt9IXYfF/TlKOdlM7EBPu6ePFCBku+mlYX4blebr1vTBfqMh1vtyZv393fZmV6sY3u8YwFAXErq+szrAsL3qZbDd1S/gHqDbb5ScV/HfWGbDwOXBnoXxyzvIddQ4sbC8/et4P0VmwPO/l0fN+iM6ENUgePfFH6ExYVF2Penus82F5fx4997vrAliDP8/m5i+A9XxB8RJYTxcUL4PlPVdQvBDWwHv0Au6pC2FRXE+UQlwM65mC4uWwnigoXgEWDYpPQusqsJ4lKF4H1pPU1deB5T1HXX01WN4TBMXrwXqCFOJ6sJ4ghbgirP7X1VeF1fegeFVYtK7udVC8Liyv3ynE1WH1OSheHVafg+L1YfU4KN4CVm/r6pvA6mtQvAksr6dB8VawehkUbwWrl0HxZrD6SOt2sDwvevTirq1bwhokPXPzt4Tl9S0o3hhWv2jdGlavUohbw+pVULw5rD7V1XeA1Z+6+h6welNX3wNWb17iug+sngTFO8HqR1C8F6xe0LobrD6kEHeE9f2fV98RlvftK8X7wvrmL3HdGdb3TiHuDOt7B8V7w/rWQfH+sL5xs/k/dvXbVKKgTj8AAAAASUVORK5CYII=');
	background-size:cover;
	background-position:50% 30%;
}

/* .cat__bio  */
.flashcard_text {
	position: absolute;
	background-color: rgb(102,204,255);
	
	
	border: 1px solid black;
	border-radius: 15px 50px;
	box-shadow: 
	5px 5px 5px #61dafb,
	15px 15px 15px  #61dafb,
	30px 30px 30px  darkred;
	transform: rotateY(180deg);
	padding: 10px;
}

.bio_font {
	font-family: 'Josefin Slab', serif;
	font-weight: 900;
}

.flashcard2{
	background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBEVFRgRERISEhgYGhgYGBgYEhgaGhgYGBUZGRoYGBgcIS4mHB4sHxgYJjgmLS8xNTU1HCQ7QDszPy40NTEBDAwMEA8QHhISHjQhJSE1NDQ0NDQ0NDE0NDQ0NDQ0NDE0NDQ0NDE0MTQ0NDQ0MTE0NDQ0NDE0NDQ0NDQ0NDQ0NP/AABEIAJ0BQAMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAADAAECBAUGB//EAEAQAAIBAgQCCAMHAwEHBQAAAAECAAMRBBIhMQVBBhMiMlFxcrEzYZEUI0JSgbLBFYKhwhYkNGJzktFDU7Ph8f/EABgBAQEBAQEAAAAAAAAAAAAAAAABAgME/8QAKBEAAgIBBAICAQQDAAAAAAAAAAECEQMSITFBQlETImEEcYGhBRUy/9oADAMBAAIRAxEAPwDNw+Aw4I7svLhcKPyTiuM4vLco5B5WMxft9X87fWQ1R6kEwg/JMnjZw+Q5Lc7fScH9rf8AO31MZsS53Yn9ZLFGwpEIGEwhWbxj9e3jIaN4OPER848RMHrm8YutbxmiG/1g8RF1i+ImBnbxMWc+MA0sa4JFjFw7Dh3CE2lGkZqcFwj1agSm2Vt7wCxxnhyUlBBJN7f4mdhe9NjpDwmtSRXqVC4zZbHxtvMjAi7iVcjoA25h2HYHnLJwyeEM2HXIBbnLpJZlJqQDtce87PD8I4d2iWY5MtwX0JNj9NZg4fDJnUFQdR7zUx+KZKjIgQBTYdhfATUYpK2dYZlB8J/uW6nDOHjNUYiwLdhag1tsB5zI41h8IFpnD31PbGYsbEA6+G86bocalV3UGmCFUgtTQgDNqbW10mhxfgr9Yxp18mpJBRQBe1gLDSaqL2QWeWduEYJV2cR0tTLiMqqqoETJlGhTKNfmb3mLO6xPR4l06+sXzMqAimSddx/yj5ynhuD0zVZWDCkoc52XJcJoRextqQNpmUW2RYZxSTRyYjztqHRym5stUghVZlFO+QOuZbsbAi17nTbbWWh0TQDWsUbYZqYALXI3zbHQjzk0M18M/RwAEN1FTLn6t8v5sjZf+7adr/QKKsA1WoRnVbZAtwWRTubgks1tPwyxxKhTXDEq7o3VqopOQTkGITtlR3CGzKb78tjI40cctwrbk8+ynwP0j5G/KfoZqx40izK6t/yn6RxSf8rfSal4jGkWZfUv+U/SP1D/AJTNOKNIszPsz/lMf7K/h/maRijSLM37K/h/mS+yP4D6zQijShZnjCv8vrF9kf5TQiikLKP2JvERfY28RL94ryaULKjcAU95ifMyFbgCBSQZMYbF/mjYnB4sKbtcSFOcqJlYr4GRjupBIO99Y0FHEeNHEEJRCIRQB48aPAC0pqcHxVSm4emoY+Ey6U0eF4nI4axPyAvAZe49xHEVABVUKtybDxmZgms15f41xNqoVTTKAEkX5zPwne/SVckQZsZ8oR8X2Abc5nmHfuL5mVNiizhMWS6C34l9xD8WxRFZxbn4/ITOwI+8T1L7yxxj49T1fwJbeklfY0+Ccb6nO5pltF2cqQQ19wJWxnSCu7u4Z0zknKKjfSZ9Adh/Ie8CJnU6JGCjJyXLN/h4x+JDGkKlQArc5zbNfsjU6maXEej3EEsPjMWdSqFiRlKBmOawsS6iZXCeP4jDIEQU3QsXVXUmzZSjWsRa4JBl1um2LzB1p4dGDO11RtS6hWBu+osFt81E5Sll1bcHW/ZnUKeLZnyJrS1qEsAEym1iSbHUbfKaOP4fjXditsRZKZzKoXR1UoAhsfxjYc5kcPx1UCpSRFrCtq6Mhe5S7BwAbhhcm81q3SbGIGpvTpUs6pmTqWUlVVQmha9soX9NpmU8l0qKnsCwvBMY75AtNTmdLmohBdEzsoyklja21wCRe00H4dxN1NBKNJwoWmXVkBKowYKS7AgXHMC+WUqXSXHOzJTsz1DeyU8zMQmQBRqdF57/ADjv0xx+qmoo1JP3ablix5eLGZcst9GXGL5QGvwfHpbNQc3JFkCuRa17hCSNxqd7yacLqVP+FqrWKqpqAqKeRm2QZz22uHHZ/LA1uOY2sQesqFl0vTGVrMw0JQA2vYAeUBw/i9SglREsGqFLvpmXIXvluDZiHPa3E7wk6+xjInX1DYjheMRglRCL3uVAYKA5Qs5W+Vbq1idwCZb4jw6nh+sp1cU4qKAUX7MQtTUi4e5sum/OZvEeJ1K9TrNQAqIqZs3YRQqq1++eZuNSTpJcVfFJVT7SppuirkRqaIFVSSoFMKFy3vpax1m7XRzqW2p0PxfCV8M/V1GVrqrqym6ujC6sul7H5yh9of8AMZPEYipVcvUdqjudSTdmJ0H/AIAEH1L5smVs18uUixzE2sQdjeZV1udW4j9e/wCYxuuf8x+snicK9N2pupRlNmU8j4G0fDYWo7qlNGZmIUC25OwjcmqNXYPrn/MfrF1rfmP1lrH8Mr0WK1abJa1za4BIvbMNLykZLNJpq0T6xvExdY3iZGKQUP1jeJ+sRqN4n6xopoUaQ4252pn6QeI4zVYZRTP0l1+IUFNv4h6WOwxOuUafxCBxFUNclwQSbwYm/wBIqtJgClrk/wCJgwEKOI1pMCAIR4wjiAPFFFADUZp8IqIr3e1vnM2lNLg1JHe1S1oQLPHsVSfLk5E7eEzcJv8ApNXpDhaKZerI53tMvC7nyl7IgBh37i+ZgIep3F/WEUWA+InqHvDcXP39T1fwIPhw+9T1CE4t8ap6zL4kfIOh3H8l94AQ9HuP/b7wAmWUsV+4nk37jAw9cdhPSf3GBEMHb8L6UYOmgU0alMrSyBUpowVyrrUIZiG7ZZGJ37NtpX4t0iwtRKy06bO7hAjvSRSvYppU0DG1xTBW22dtufMYz4j+o+8bCU0d0So4pqzAM5UkICbFiBvac3jSdizZ4VxWhTSirrUU063WPkp0260Kysl3ZgykZcthpreX8Nx/BIiJ1VRiruzM1GmSQ+cHKQ4sSHXU3sV/FBLgsItQUjTX/iOrDNVzMURVJclWyWYkctiRe+oDQ4dRKowp3dkxLMDVTJnQuiIF5EHK3etbmY+JS3Oqi2jQ4X0qw1EJ91UYqoVrKiggOrg945nBW+bs3NtBLGG6XYFFy/ZajdhV7VOlcgX0vf576eQnMcVwFOklMpUNR3XM1rFNVU9k23BJHPbltOip9EcIzMFxDZVDXJqU75lL62C6qcny332E5TxwjzYTa2KnEekmFctlwdN7plRmARqerEWsWzWzCx7Ow0EBwjj6ImWuKtRutR2PZfrEUAdS7Obhb3Ol9zpNjHdD8Eisy4t9FBBJRspIbtOEXuaAbi2uszKWDwqOuCD4fECsyf70Lg0gWAKqLlSbKd/zztikmqXCOOeO1y/o1G6bUQAqUqhI1LMtMM7g0yrtl2IyONPERN0uwhWqCmLL1KmcOVpkoAyMoUZ7XXKQPcbSVPoVhmK/fVEGmcM9ItTYmlZGIFs1nc7fhH689xHE4NEfD4ej1hJuK9TSopuLoAoykaHX5zu5NcngUMcnUU2dJT6bYVWa1CoyNUZyGVAbs6MDod1s1tZR6QdMzVTJh1NMEsXJRQTsVIIJIYW3vBcB4Rh6uHSoaVWo/wBoVHyutsl1IDKfw2PnvNitwDDgsyYYu64oIV7PVhDkIun5MpPzveeaX6tJ1R7I/wCPhtJHN4fj4TCPhyKlV6rXd6jZlQAWBTnewF5z89FxfQ3CuHqPVGHLVGUbZEAawBHzGu/OcpxHB0cJiFUOmLRbMbd1vlpGKSmm0dskXBV6MQxT0Lh3AMJjk+1FWw4ZioVSAqhSB+pNyf0ksJ0P4fVBNOrUtmKXLDslctwfEnMbctJ3cGeF/rYLZpprk88EU9SxnQzCuiKh6vKtmOYb5V1b53JJlNejOCTrkKuzIqlSTffNr/j2jQzP+wx1wzkn4bRB1tC0eD0W8D/+QH9FdtTUMivCa42qEcpk9xmdIMAiWZTztaYs1+NYSooBdrgfzzmRAQ4khIiSEAePIiSEAUUlIwA9KaPCsN1j5bkeRtM6lNDhdN2e1M2MIMNxfCJTy2YsTe9zfaVMLufKWeL4OqhBqHNm2lXCbnylXJEAh6vcT9YASxVHYT9YKT4YPvU9QkuKfGqes+8bhfxafqEXEviv6295fEnZGl3H/t94GHp9x/NfeAmWUsV+6npP7jAruIav3U9H+owK7jzEMBsZ8R/U3vGw9B6jrTpqzu5Cqqi5YnYCPi++/qb3MWFLZwUYoy3cMNwUUtcHkdIYOgwfQ+o/fq0lBdEUqyvmzGoGZbsugZGXwYggHTXIxXCatNFquoCPlyNmU5gylhYA32GvhtLidKMYLEVVNnLi9Gke2Wdr6p4u5A2BY2tKOK4hVqIlN3uiFyi5VULnbM1goHPly2FpzWrsWWKPBn7edhTK0XrheyzFVQPZ1DXS6kEXET8AxKqXamAoVWzdYlrMWUAdrVrqwyjXTaTbimJSzMqjOhphnw6XenlC2zMt30Ci+ukO3SXGVCQWV2ZChtSS5Q5iwFhzu0j1/g2qJUuieKKO5FNTSLB0NRSwKpnI7NwDsLE7kXtIf7J48gsKBI0FxUpm+YAi1m13Gohk6YYxTcOg0tbq1tbTS3PuiWP9tsfrZqY2Pw9rCw5zD+bqi1H8mU3AMQjhK1NqSXUNVKFqdNWt2y63W1jfeWn6L4lrthgMVTvlFVGUKx0vYMb2BNidhA47pNi6qujVCEfvIvdO3NrtyHORwPHq9IU1TJakXygg2YVNHV9dR9J6Ivb7Hnyxldw/sNT6M4sOEqoaC2zO7EZEUG2Zip2vYfrB43g9ZFerTqLWpI4RqiNpmsCCRe4Gu8uY/pli6tFsO60gjadlCCBe+Ua7cv0manGKq4c4SmEpoxLOVXtOb6Z25gbDykml0MPy23N1+EUDVc3GZiDuMx18/GQijQlR1LY4jWFMUQ7BFJYAG2p1Oo+cEmIdb5XcX3sxF/mfGCiltmNEfXJZHEK+v3tTXQ/eNr56x/6hX362pe1u+dvDylYRRbHxw9Iv/asWPwR6/F66C7pJjpDT+Uo8V4ujoVUakEfWDRn47ij1dDoJQjCSgIcSUiJKAOI8YR4AooooAelNDhVaoj5qa5j4TPpTT4RihTfMQT+kBk+M4us5XrVy2vaU8Nz8pd43xEVitlyhb/5lLC/i8pVyRAJYq9xP1leWK/dT9ZEUNwr4yeoSHEPiv6295PhHxk9X8QeO+I/rb9xmvH+TPkKn3H81gYen3G81gJk0WMTsno/1GCpjtDzHvC4nZPQPcwdIdpfMe8PkBMV339Te5ksJ3v7H/wDjaQxHfb1N7mTwnePof9jS9gDNHguNFFy7Jm7DKHABemzDs1EzaZgfHxNrGxmcIel3H/s9zMtXsDcqdIxYqtNSBkCZ1DdkKi1C2YnUhFGlufMyxS4/hASRScEBlBFKmCUbOAmh7IUONRqcov4TlTNTh2ERqGIqsFZk6pEuWGTO+VnNrA6aDfXlK8jjv+x2jllZexfEsIR91TyHMpJbDUznXMWZQCSE1Y666BRylypxvDu12qOFNV2dVohRVRlARXynULqCDe/6wdDo7TqmoEqGn1dVaOSwJZmZEpsCzDvMXJ2Ayy7V6HKA1IB83W0VWtkfRKlF3KsmbLcMFHj2h4zo5O6NPNJPorHiXDiAvV0r3Usxw2UMVZb6ICVUhDoPz67Q9HG8JvndUbVuycPYWzGxsq22C205mAx/RAYemK9WrmAZL08mRiGy5lvmuHGY6W5b8pjrweo+JbCUmTMGYKXawstzqbHkIcmlbqjazSaukdFVxvCSMy06XeJI6th3VOXKMuxIXnzMz8fxDBPhCop01qu+ZFppl6oABSGc969r25XlbiHRp6NFqzOpZHNN11tfcFGPfFiL+BlN8Ei4YVmzZ3qFV1FgqgakeN7/AEnNP5V9eiSnKSqkuzNjGIxCDzDxyJGSgDWjgRRQDAAkgJ2DdHaJ2iHRilbf/JijNnIiKXuK4HqnsDcGUYNElkhICTEEHEeMI8AUUUUANTmvwKoiveobCZFOa3BMOjsQ9rfOAyx0jxNFyvVAaXvaZeF/F5S5xvCojqEtYg7H5yphtm8pVyRABLFfup5SvLGIPZTyj2UPwf41Pz/gwONPbf1t+4w3BPjp5/wZXxXff1N+4y+P8mfImnw29SwMMnw29SwMyaLGJ/B6B7mQod5fUvuJPE/g9C/zI4bvp6l/cIAq57bepvcwmE3b0P8AsMFW7zeZ94bCbt/03/bHYACHp9x/NP8AVAASwncf1J7PAAS0lV0pkIxUVMyOL6Mq5CAR8iTKywwRmRQqObMRcKSMz5cqgjmbbRSfI36I1qrOcznMbAXO9lFhr5AQ6U3ORKfWMz6hVJJLZ2UZQOfZEqshBKkEEGxBBBBG4I5GXsBxE0KlGsgDNTB0a9jdnuDbxV+XjDfY/ctJgeJIwPU4trVBoabupddRddQzC3+JUrcOxZYs1DEFmYg/cvcvuRt3tzabuD6avSQU6eHRAAyL945IRs5y3J3DOTm32EuL0/O1TDZrlrkVrFQ6FWFM5Lqdb3uf0nNynxR02qrOdq8MxYoo7B2Qu6IgJLo4uWU091PP9ZHCitUUYJKaljULKGOVg2UAr2iByHznVUOnlJWFRsK+bO7taopHbQJ2bruAq7/PxmW3HsG+IXFvRr5xVLsQyWKgdlcuwI5nnNYXLVT2TJJ0m4vc5uph3UlSp0JXa4uOV5MYGrkNTq2yA5S1rDNa9td9J6BwPpRhGdKbBqYGYguVCgjNYggaM2bXyhcRx/DI61DUR0SrUWogAu6VFPbVflmH/bPTLFFK07PMsstVNHnOFwlSo606aM7sbKANza/ONicLUpuadRSjLuDy+k9UTpfwt0AJNNhUV/hns5XuCLcrACGpdIuEElqj03OY6tT3u5YN891+k4UdrPJRh3K9YEbIDbNbS/heDnpnHsfhXp13pmnkYqEC21YKc7eWq/SeZzUkkkSMm2/waL4PFAGz7SniK2LRSTqJZ/rFUd6mfnKuP42HUi2u0yKMXE4pnN2MDGElBRCTWQEmIA4jxhHgCiiigBae01OEYQ1GKgsPIzMpmafClqFj1bZTBGLi+DNNlBYtcc5Xw2zeUPxVaoYdabm2krYbZvKVclBQ+I2TylcSxiNk8pECzwP46ef8GVsSe2/qb3MtcDH36eZ9jKmI77epvczXiTsIPhn1D2gRDL8M+oe0DeRlD4rdfQsbC99PUv7hHxW6+hPaLCd9PUv7hIwRq94+Z94XC/j9DfxAvufM+8Nhtn/6be4l7AGHQjI4vY5k08g//kQE0uD4Wk5fOSzKhNOnmy9a+2XPyIvfKNWtYW55brcGfNLhxHVVVzKC5pqgNRVOcPfNqdAPHQfOa4wGDUdQ+QujCiXBbM9Z1YuVynKURyigtpZWOpMFh+j1Gpc0q9QjMUDNTFg6soIax/EHBUDex8LzSTa27O0cb5Rn9JqqPiaz0yGBc9oMCGI0LKRyJF+fmZlzq6/RK5Xq2ZBlUNnQ3zkJe9mNj227Iv3Od5Vw/AKTojde/aZ73olexTTM5AzGzfImSONxSXorwTvg50xwZ0C9G2cB6dQKpAbLVuHVCrnM+UEbo2g122g6nRjEAEhqbWLjRm/Bvrlt+l76ia0S9E+DJ6MOKdAeh+MABC0zc20qDT5nwGkHS6KYtiFyIuYlReoupF/fKQPGRxaVsy8U10zDjydei6MUdSrKSCCNQRITKOY4ijR5Skgxta5t4Ro0eAajcRpFbWFzecrj3VnJXadn9kw7eGsp8R4TRy3W17H/AOoIcjHiIsSI0FJSQkRJCCDx4wjwBRRRQAtPaavCcS6ElFzTKp7TW4NjEpMWZc0EYPimJd2HWKVIGlxAUO63lLXGsctVwyrlsLSrR7reUq5KAEsYjZfKAEPifw+UAtcC+On6+0qVu83qb3MucB+Mv6+0pVO83mfeXxM+QUfD/uHtAw3/AKf938QMyzQfF7j0L7R8F309S+4jYvvD0r7RYPvp6l95XyAbbmHw2z+g/uWAvrC4YOW6tFLs9kCgEkksCAANzpIAYlvA8PeoHcFFSmuZ3c2Vb3yja5ZiLAAHWFocGxL2yUyxNQ0gLrcuouwsTsLi7bC41kVavhmBsEz0wSrZWV6bm4DrqLHLsddOUy36Bo0+jNUoXLouWkajhsq5DlzpTOZhdmSzHSyhlvvA4zo/iEqMiIXVGK5xZVJUoCbk9kA1EFz+YSKcfxS9apZWFZmaoHpq1y4swFxdQRYWFtABDVOk2IfOHSiy1HSo6Gn2XZAAARfunKlxzyiT7GrMyt11N2pualN0azKWIKsptyO+m8dOIV1N1q1Ac2e+du/a2bfe2l42Oxj1narVYu7G7E/QC3IAAC3ylczSbGp9Mv8A9XxNrddUI10LE943MPS6QYtbWqnS57iak7k6an5mZN4hLqZpZJLtm5T6U4sG/WK3iCi2PnIUOkeIRxVGQsqFEuui/wDMo/MNdfmZjxjDk5KmHmm9mwuJru7F3YszG5J5kwYiiEGBRRRxAFFHigGmOCEapUP1vKHEsJWRW7d9P8Swpxi7reVeIYysUIZD5wQwBHkRJCCjiSkRJCCDiPGEeAKKKSgBae02eAvTViahmNT2mxwLCJUYipa3z/iCMFxp6ZcFNrayrR7reUtcbwqU3Apm4I8ZVo91pVyUAJYxP4fKAh8T+HykBc4B8ZfJvaUKm58z7y/wD4w9Le0oPufM+814mfIMfhj1H2gYQNdMgBJBLaDlaNVw1RAC9N1BAIJUgEHY6+MzZugmLHa/tX9okcO+VlY8iD9I+JcM1xqLAfQCRw7hXViocKwJU7MAb5T8jtDIJKbNcqrNYFmspOVQdWNthcjWX+G4urhqgqhCCMyFXUgMGWzoTuDY8tRcTpF6S4TPnKOVqt94GpqwREQrSpIo0ZFc57c7AcpaxnHeHVnTriXQ1K7MposCgcIUYEaFrpl8bP4CcnJ8NFoyeH9LOpcFKPYWmiInWEFSrh2YuB2sz3LC2ug5STdJ0KFOqqG9FKQZ6iuyuivT6wdkXJSq4seeWZfGauFYU+oUBwrdYUQrT7TZkQA6llByltL2HheZUqgnvQs0eNY9a9TOqZAFRBc3dwi5Q9RvxOQBc25CUJGPNpUQeKKPKBoo8aAKOYooAooooKPFaKKAKPFFAL6cet3kYeYMHjeLU3U6cprIiNqVEBi8BTy3ywQ4gx5OugDlRsCRIQBxJCRElAHEeRElAFFFFAD09pqcIwZqE9plt4TKpjSXcJWdA2VrfpAJ8Uw+R8uctpzgaXdaQquW7TG5k6XdaEAIh8TuvlACHxW48pegXOAfF/tb2mcx1M0uj/xf7W9pmtvK/wDlGVyzoOjPFqFJXp1kNqmW7qBmyg3KX/Kdv1m0vSjDVAUr09CxNit1yjuDL4ABfpOFEkDMJaZWjtDI4O0ddXr8NZD1aUg9mZQyOq3PIldTzsNhpKOMw+GeshptQp016oNZ2BYMRmJB5jW+vPnOfjgTbnfRt5dXMUdQMBgqz9hmply+REyKAqW0YMTZm1sb22NpbHQ+m3dxDKLmzGmHBA8LMLnbWccDLFTG1WCozsVTRBfujTb6CNS7QWSD5Ru1uijLf/eKZIF+6eall2J3Ctvbun9adfgTDrerqpUNGmlR1CspCsBm3FuzmHO5B8QRMwYup/7lSwGgzm1jcW8rX+phquPrspRqtRlNrqWNjl0W/jYGST9IzJwa+qoqxRCPIchRRo8AUUUQgDmKKNAHiEUQgohHvGigDx40UA//2Q==");
	background-size:cover;
	background-position:100% 50%;
	
}
.flashcard3{
	background-image: url("https://cinthialandia.com/static/f08205c27136ae7e9d4a8e18c32d587b/ee604/hooks.png");
	background-size:cover;
	background-position:80% 100%;
}
.flashcard4{
	background-image: url("https://cinthialandia.com/static/61321678acc61a70492fadd9125b74de/ee604/components.png");
	background-size:cover;
	background-position:50% 50%;
}
.flashcard5{
	background-image: url("https://cinthialandia.com/static/729ffbbdb54a2f2cfe112e0c7deafef4/ee604/state.png");
	background-size:cover;
	background-position:50% 0%;
}
.flashcard6{
	background-image: url("https://cinthialandia.com/static/1bd55c73b2d492654240724f3fd80fd3/ee604/jsx.png");
	background-size:cover;
	background-position:50% 50%;
	
}

.footer{
  margin: auto;
  border-radius: 5px; 
  width: 100%;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.footlabel {
	flex-basis: 100%;
}

.footcontainer {
   width: 250px;
   margin: auto;
   border:3px solid black;
   border-radius: 25px; 
}

.footext {
	margin: 0px 0px 3px 0px;
	   text-shadow: 
    1px 3px rgb(251,46,1),
    3px 6px rgb(111,203,159),
    5px 9px rgb(255,226,138),
    7px 12px rgb(255,254,179);
}